<head th:fragment="head">
<title>Szafbook</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="icon" type="image/x-icon" href="images/favicon.ico" />
<link rel="stylesheet" href="assets/css/main.css" />
<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>

<footer th:fragment="footer">
	<div class="inner">
		<ul class="copyright">
			<li>&copy; Na mi&#x0119;kko</li>
			<li>Design: <a href="http://designscrazed.org/">TEMPLATE</a>.
			</li>
		</ul>
	</div>
</footer>

<th:block th:fragment="scripts">
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>	
</th:block>
