<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_others :: head" />
<body>

	<header id="header" th:include="_menus :: title-menu" />
	<nav id="nav" th:include="_menus :: main-menu" />


	<section id="main" class="wrapper">
		<div class="container">
			<h1>
				<span th:text="${message}" th:remove="tag">&nbsp;</span>
			</h1>
			<ul class="actions">
				<!-- todo: subset if logged in etc. -->
				<li><a href="/login" class="button small special">Sign In</a></li>
				<li><a href="/signup" class="button small alt">New User</a></li>
				<li><a href="/userpage" class="button small">User	Home</a></li>
			</ul>
		</div>
	</section>

	<div th:include="_links :: security" />
	<footer id="footer" th:include="_others :: footer" />
	<th:block th:include="_others :: scripts" />
</body>
</html>