<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_others :: head" />
<body>

	<header id="header" th:include="_menus :: title-menu" />
	<nav id="nav" th:include="_menus :: main-menu" />


	<section id="main" class="wrapper">
		<div class="container">

			<header class="major special">
				<h2>New User</h2>
				<p>Tell us about yourself</p>
			</header>

			<form action="#" th:action="@{/signup}" th:object="${user}"
				method="post">
				<table>
					<tr>
						<td>Username:*</td>
						<td><input type="text" th:field="*{username}" /></td>
						<td th:if="${#fields.hasErrors('username')}"
							th:errors="*{username}">Username Error</td>
					</tr>
					<tr>
						<td>Displayed Name:</td>
						<td><input type="text" th:field="*{displayedName}" /></td>
						<td th:if="${#fields.hasErrors('displayedName')}"
							th:errors="*{displayedName}">Displayed Name Error</td>
					</tr>
					<tr>
						<td>Email:*</td>
						<td><input type="email" th:field="*{email}" /></td>
						<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
							Error</td>
					</tr>
					<tr>
						<td>Password:*</td>
						<td><input type="password" th:field="*{password1}" /></td>
						<td th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}">Password error</td>
					</tr>
					<tr>
						<td>Repeat Password:*</td>
						<td><input type="password" th:field="*{password2}" /></td>
						<td th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}">Password error</td>
					</tr>
					<!-- <tr>
						<td>Birthday:</td>
						<td><input type="date" th:field="*{birthday}" /></td>
						<td th:if="${#fields.hasErrors('birthday')}"
							th:errors="*{birthday}">Expected format: yyyy-MM-dd</td>
					</tr> -->
					<tr>
						<td><button type="submit">Submit</button></td>
					</tr>
				</table>
			</form>
		</div>
	</section>

	<div th:include="_links :: security" />
	<footer id="footer" th:include="_others :: footer" />
	<th:block th:include="_others :: scripts" />
</body>
</html>